@white      : #ffffff;

*           { margin: 0; padding: 0;}

.content    { min-height: 400px; background: #ddd; }

.bg         { background   : @white }
.bg-dark    { background   : #ddd; }

a, .pink    { color        : #C15D63; }
.errorlist  { background   : #d91c5c;
              color        : #ffffff;
              .np; .nm; }
p           { .f_nrml; .c_nrml; .mb; }

.bt, .br,
.bb, .bl,
.ba              { border-color : #bbb; }


.bt_weak, .br_weak,
.bb_weak, .bl_weak,
.ba_weak         { border-color : #ccc; }


.bt_stng, .br_stng,
.bb_stng, .bl_stng,
.ba_stng         { border-color : #666; }


.c_weak     { color        : #888888; }
.c_nrml     { color        : #525B64; }
.c_stng     { color        : #222222; }

.wrap       { max-width: 1200px;
              .pl; .pr; position: relative;
              margin: 0 auto;}

.narrow     { max-width: 800px; }
.shadowed   {
    box-shadow: 0 0 10px #ccc; 
}

.np         { padding: 0; }
.nm         { margin: 0; }

.pt         { padding-top: 10px; }
.pb         { padding-bottom: 10px; }
.pl         { padding-left: 10px; }
.pr         { padding-right: 10px; }
.pa         { padding: 10px; }

.pth        { padding-top: 5px; }
.pbh        { padding-bottom: 5px; }
.plh        { padding-left: 5px; }
.prh        { padding-right: 5px; }
.pah        { padding: 5px; }

.ptd        { padding-top: 20px; }
.pbd        { padding-bottom: 20px; }
.pld        { padding-left: 20px; }
.prd        { padding-right: 20px; }
.pad        { padding: 20px; }

.mt         { margin-top: 10px; }
.mb         { margin-bottom: 10px; }
.ml         { margin-left: 10px; }
.mr         { margin-right: 10px; }
.ma         { margin: 10px }

.mth        { margin-top: 5px; }
.mbh        { margin-bottom: 5px; }
.mlh        { margin-left: 5px; }
.mrh        { margin-right: 5px; }
.mah        { margin: 5px }

.mtd        { margin-top: 20px; }
.mbd        { margin-bottom: 20px; }
.mld        { margin-left: 20px; }
.mrd        { margin-right: 20px; }
.mad        { margin: 20px }

.bt         { border-top-style    : solid; border-top-width: 1px; }
.bb         { border-bottom-style : solid; border-bottom-width: 1px; }
.bl         { border-left-style   : solid; border-left-width: 1px; }
.br         { border-right-style  : solid; border-right-width: 1px; }
.ba         { border-style        : solid; border-width: 1px; }

.bt_weak    { border-top-style: dashed; border-top-width: 1px; }
.bb_weak    { border-bottom-style: dashed; border-bottom-width: 1px; }
.bl_weak    { border-left-style: dashed; border-left-width: 1px; }
.br_weak    { border-right-style: dashed; border-right-width: 1px; }

.nb         { border: none; }
.lt         { text-decoration: line-through; }

.imp        { background: #FCF99C; }

.rt         { border-top-right-radius: 5px;
              border-top-left-radius: 5px}
.rb         { border-bottom-right-radius: 5px;
              border-bottom-left-radius: 5px}
.rl         { border-top-left-radius: 5px;
              border-bottom-left-radius: 5px}
.rr         { border-top-right-radius: 5px;
              border-bottom-right-radius: 5px}
.ra         { border-radius: 5px;}

.rv         { margin: 0 0 -10px 0;} /* reverse margin */
.auto_w     { width: auto; }
.fsi        { font-style: italic; }
.tac        { text-align: center; }
.tal        { text-align: left; }
.tar        { text-align: right; }
.oa         { overflow: auto;}
.db         { display: block !important;}

.vh         { visibility: hidden; }

.fl         { float: left; }
.fr         { float: right; }
.fc         { margin-left: auto; margin-right: auto; }

.f_tiny     { font-size: 12px; line-height: 16px; }
.f_weak     { font-size: 14px; line-height: 18px; }
.f_nrml     { font-size: 16px; line-height: 23px; }
.f_stng     { font-size: 23px; line-height: 27px; }
.f_huge     { font-size: 48px; line-height: 52px; }

.wb         { font-weight: bold; }
.wn         { font-weight: normal;}

.thmb-big   {
   width: 220px;
}
.thmb-medium {
	width: 100px;
	height: 100px;
}
.thmb-small {
	width: 48px;
	height: 48px;
}

body        { font-family: sans-serif; .f_nrml; .c_nrml; background: #fff; }
.subnav     { .pa; .bg-dark; .bb; }

#logo, a    { text-decoration: none; }

a:hover     { text-decoration: underline; }

footer a    { margin: 0 5px;}
img         { .bg; .tac;
	            max-width: 100%; }

img.db      { width: 100%; }

.thmb       { .db;
              background-position: center;
              background-repeat: no-repeat; }
.thmb span  { width: 100%; .tac; .db; .f_weak; .wb; margin-top: 90px; }
.thmb-wrap  {
  .bg;
	.mbd; .mlh; .mrh; .fl; .shadowed; width: 220px; .bb; border-bottom-width: 3px;
    .a { .db; .oa; }
    .footer {
      .username { .f_weak; .fl; .pt; .mbh; }
      }
  .private_answer_indicator {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 18px;
    height: 18px;
    background-image: url(../icons/lock.png);
  }
}

.yellow-stripe { .imp; .tac; .c_stng; .pt; .pb; .nm; }

#logo       { font-family: 'Oleo Script Swash Caps', cursive;
              font-size: 46px; line-height: 50px; }

.u_info     { }
.p_pic      { width: 72px; float: left; margin: 0 10px 0 0;}
.q_s        { .f_stng; .c_weak; .wb; }
ul.actions { .f_weak; .wn; }
ul.actions > a { .mr;}

/*.answer_actions a 
              { .db; }*/

ul          { padding-left: 20px; }


/* form */
form            { overflow: auto; margin-bottom: 10px;}

.errorlist       { float: right; }

.errorlist li    { list-style-type: none;
                   padding: 0; }

input[type='text'],
input[type='password'],
input[type='file'],
input[type='url'],
input[type='email'],
textarea         { border: none; .bb; .mb; }

label            { display: block;
                   .f_nrml; .c_nrml; .mbh; .mr; }
label[for='id_is_anonymouse'] {
  display: inline; .fl;
}
input[type=text],
input[type=password],
input[type='url'],
input[type='email'],
textarea
                 { box-sizing: border-box; /* css3 rec */
                   -moz-box-sizing: border-box; /* ff2 */
                   -ms-box-sizing: border-box; /* ie8 */
                   -webkit-box-sizing: border-box; /* safari3 */
                   -khtml-box-sizing: border-box; /* konqueror */
                   width: 100%; }

input[type=file] { border: 0;
                   width: 100%;
               	   padding: 0; }

input[type=checkbox] { .fl; margin-top: 3px; }

input,
textarea         { .pah; .f_nrml; }

textarea         { height: 100px; }

.bttn {
    border: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    .wb; .pl; .pr;
}

.bttn:active      { position: relative; }

.bttn.green       { background-color: #6687c9;
                    color: @white; }
.bttn.green:hover { background-color: #365799;}

.bttn.red         { background-color: #971b1b;
                    color: @white; }

.bttn.red:hover   { background-color: #670000 }


table {
    text-align: center;
    td { vertical-align: top; }
}
form#preferences {
  input[type='checkbox']{ .mr; }  
}

.q:hover p.info { visibility: visible; }

#id_text, #id_q {
  .f_stng;
  .pa;
}

.nsfw_block {
  .db;
  width: 220px;
  height: 140px;
  background: #e4e4e4;
  a { .db; padding-top: 60px; .tac; }
}

#answer_form {
  input, inlineFieldWrapper { .fl; }
  label { .fl; .mr; }
  input[type=checkbox] { margin: 3px 10px 0 0; }
  #id_image { display: none; }
  #file-select-box {
    background-image: url(https://cdn3.iconfinder.com/data/icons/files/100/237034-file_document_add_plus-32.png);
    background-repeat: no-repeat;
    background-position-y: 3px;
    .oa;
    .db;
    &:hover {
      background-color:#dde;
    }
  }
}

#bulk_edit_answers_form {
  label { .fl; .mr; clear: left;}
  input, select { .fl;  .db; }
}

#create_form, #update_form {
  label { float: left; }
}

.like-wrap {
  .fr;
  .c_weak;
  .pth;
  .count { display: inline-block;
           margin: 3px 4px 0 0;
          .fl; .mth; .f_weak;
  }
  .heart {
    cursor: pointer;
    .fr; .f_stng;
  }
}

.like-big {
  .pa; .ra; .db; .tac; .f_stng;
  color: white; border-bottom: 3px solid #C15D63; background: #E17D83;
  cursor: pointer;
  .active { display: none; }
  .passive { display: initial; }
}

.like-big:active, .like-big.active {
  padding-top: 13px;
  border-bottom: none;
  background: #C15D63;
}

.like-big.active {
  .active { display: initial; }
  .passive { display: none; };
}


#hidden_part { display: none; }

.ishadow {
  box-shadow: 0 5px 5px #aaa inset;
}

.panel-left { .db; margin-right: 320px; }
.panel-right {
  width: 300px; .pb; position: absolute; top: 0; right: 0;
  .section { .db; .bb; .mb; }
}

.question {
  height: 270px;
  width: 290px;
  background-position: center center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
  margin-left:5px;
  margin-right: 5px;
  position: relative;
  float: left;
}

.question .inner {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  .tac;
  font-size: 20px;
  .pt;
}
.question .inner a { color: #fff;}
.question .inner p { color: #ccc;}

#slot-list { .db; .oa; }

.slot {

  .mah;
  .fl;

  background: #efefef;
  cursor: move;

  .remove {
    position: absolute;
    top: 2px;
    right: 2px}

  .thmbWrap {
    width: 100px;
    min-height: 100px;
    float: left;
    position: relative;
    background: url(../img/loading.gif) center center no-repeat #fff;

    .thmb {
      width: 100%;
      height: 100%;
      opacity: 0;
    }

    .thmb.visible {
      opacity: 1;
    }

    .indicator {
       position: absolute;
       top: 0;
       left: 0;
       height: 10px;
       width: 0%;
       .bttn.green;
    }
  }
}

@media only screen and (max-width:800px) {
  .thmb-row {
    white-space:nowrap;
    overflow-y: show;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .nav a {
    display: block;
  }
}

@media only screen and (max-width:400px) {
  .panel-left, .panel-right {
    width: 100%;
    float: both;
    border-left: none;
    .np;
  }
  .panel-right { .bb; .mb; }
}

.sortable-placeholder {   
   height: 100px;
   width: 100px;
   float: left;
   margin: 5px;
   background: white;
}

#update-captions {
  width: 100%;
  td.thmbCell { width: 105px; }
}