{% extends "answers_base.html" %}{% load i18n %}

{% block subheader %}
  {% if user.is_authenticated %}
  <div class="subnav">
    <div class="f_weak db oa wrap">
      <a class="mrd{% if answers.filter == 'public' %} wb{% endif %}" href="{% url 'question' question.base62_id %}">{% trans "Public Answers" %}</a>
      <a class="mrd{% if answers.filter == 'from_followings' %} wb{% endif %}" href="{% url 'question-detail-from-followings' question.base62_id %}">{% trans "Answers From Followings" %}</a>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% include "question/question_sentence.html" %}
  {% include 'question/answer_form_inc.html' %}
  {% with answers=answers.paginated_object_list %}
    {% include "question/answer_thumbnails.html" %}
    {% include "includes/pagination_links_for_answers.html" %}
  {% endwith %}
{% endblock %}

{% block extra_foot %}
<script>
  var file_el = document.getElementById('id_image');
  $('#file-select-box').click(function() {
    $(file_el).trigger('click');
  });
  $('#id_image').change(function() {
      var filename = $('#id_image').val().split('\\').pop();;
      $('#file-select-box').html(filename);
  });
</script>
{% endblock %}