{% extends "base.html" %}{% load thumbnail i18n %}
{% block wrap_class %}narrow{% endblock %}

{% block extra_head %}
  <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/like_buttons.js"></script>
  <script src="{{ STATIC_URL }}js/jquery.keynav.js"></script>

  <script>
  $(document).ready(function() {
    $("#fake_delete_button").click(function(){
      $("#delete_button").toggle();
      return false;
    });
    $("#publish_button").click(function() {
      $('#publish_submit').trigger('click');
    })
    $("#delete_button").click(function() {
      $("#delete_submit").trigger("click");
      return false;
    })
    $(".like-big").click(function(ev) {
      function setLike(sid, val, onLike, onRemove) {
        $.ajax({
          type: "POST",
          url: "/l/",
          data: {"sid" : sid, "val": val},
          dataType: "json",
          success: function(data) {
            console.log(data);
            if (data['is_liked']===true) {
              onLike(data);
            } else {
              onRemove(data)
            }
          },
          statusCode: {
            401: function() {
              alert("Yu hev tu login tu kompiliyt dis ekşın.");
            }
          }
        });
      };

      var target = $(ev.target);
          sid = target.attr('data-story-id'),
          val = target.hasClass("active") ? 0 : 1,
          cEl = target.find(".count"),
          hEl = target.find(".heart");

      var onLike = function(data) { cEl.html(data['like_count']);
                                    hEl.addClass("pink"); };
      var onRmve = function(data) { cEl.html(data['like_count']);
                                    hEl.removeClass("pink"); };
      setLike(sid, val, onLike, onRmve);
    })
    $('.slot').keynav();
  });
  </script>
{% endblock %}

{% block content %}
  {% if story_is_visible %}
    {% include "story/story_detail_inc.html" %}
  {% else %}
    <p class="pad ba imp tac f_stng">
      {% if answer.status == 1 %}
        {% trans "Story is deleted by it's owner" %}
      {% elif answer.status == 2 %}
        {% trans "Story is deleted by admins" %}
      {% else %}
        {% trans "This story is not visible for you" %}</p>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}