{% extends "base.html" %}{% load thumbnail i18n %}


{% block extra_head %}
  <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/like_buttons.js"></script>
  <script>
  $(document).ready(function() {
    $("#fake_delete_button").click(function(){
      $("#delete_button").toggle();
      return false;
    });
    $("#publish_button").click(function() {
      $('#publish_submit').trigger('click');
    })
    $("#delete_button").click(function() {
      $("#delete_submit").trigger("click");
      return false;
    })
    $(".like-big").click(function(ev) {
      var target = $(ev.target);
      $.ajax({
        type: "POST",
        url: "/l/",
        data: {
          "aid" : target.attr('data-story-id'),
          "v"   : target.hasClass("active") ? 0 : 1
        },
        dataType: "json",
        success: function(data) {
          if (data['status']===true) {
            target.toggleClass("active");
          }
        },
        statusCode: {
          401: function() {
            alert("Yu hev tu login tu kompiliyt dis ekşın.");
          }
        }
      });
    })
  });
  </script>
{% endblock %}

{% block content %}
  {% if story_is_visible %}
    {% include "story/story_detail_inc.html" %}
  {% else %}
    <p class="pad ba imp tac f_stng">
      {% if answer.status == 1 %}
        {% trans "Story is deleted by it's owner" %}
      {% elif answer.status == 2 %}
        {% trans "Story is deleted by admins" %}
      {% else %}
        {% trans "This story is not visible for you" %}</p>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}