{% extends "base.html" %}{% load thumbnail i18n %}

{% block extra_head %}
  <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/like_buttons.js"></script>
  <script>
  $(document).ready(function() {
    $("#fake_delete_button").click(function(){
      $("#real_delete_button").toggle()
      return false;
    });
    $("#real_delete_button").click(function() {
      $("#delete_submit").trigger("click");
      return false;
    })
  });
  $("#delete_submit").trigger("click");
  </script>
{% endblock %}

{% block content %}
  {% if story_is_visible %}
    {% include "story/story_detail_inc.html" %}
  {% else %}
    <p class="pad ba imp tac f_stng">
      {% if answer.status == 1 %}
        {% trans "Story is deleted by it's owner" %}
      {% elif answer.status == 2 %}
        {% trans "Story is deleted by admins" %}
      {% else %}
        {% trans "This story is not visible for you" %}</p>
      {% endif %}
    </p>
  {% endif %}
{% endblock %}