{% extends "base.html" %}
{% block extra_head %}
  <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>  
  <script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
  <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.min.js"></script>

  <script>
    $(document).ready(function() {
      var $grid = $('#thumbnails').imagesLoaded( function() {
        $grid.masonry();
      });
    });
  </script>
  <script src="{{ STATIC_URL }}js/like_buttons.js"></script>
{% endblock %}
