{% extends "base.html" %}
{% block extra_head %}
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  
  <script src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
  /*
  <script>
    $(document).ready(function() {
      var container = document.querySelector('#thumbnails');
      var msnry = new Masonry(container, {
          // options
          itemSelector: '.thmb-wrap',
          columnWidth: 240
      });
    });
  */
  </script>
  <script src="{{ STATIC_URL }}js/like_buttons.js"></script>
{% endblock %}