{% extends "base.html" %}
{% block extra_head %}
  <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>  
  <script src="{{ STATIC_URL }}js/masonry.pkgd.min.js"></script>
  
  <script>
    $(document).ready(function() {
      var container = document.querySelector('#thumbnails');
      var msnry = new Masonry(container, {
          // options
          itemSelector: '.thmb-wrap',
          columnWidth: 240
      });
    });
    var iconcommentcontent;
    var iconword="&lt;3";
    var icontemplate = '<span class="heartie">&nbsp;</span>';
    var iconpattern = new RegExp(iconword,"ig");
    iconcommentcontent = $('.comment-body').html();
    $('.comment-body').html(iconcommentcontent.replace(iconpattern, icontemplate));
  </script>
  <script src="{{ STATIC_URL }}js/like_buttons.js"></script>
{% endblock %}
