{% load meta %}{% load compressed i18n %}
<!DOCTYPE HTML>
<html>
  <head>
    {% compressed_css 'base' %}
    <meta name="viewport" content="width=device-width">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" href="{{ STATIC_URL }}iphone/icon.png"/>
    <link rel='icon' href='{{ STATIC_URL }}/favico.png' type='image/png' />
    <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>

    {% block extra_head %}{% endblock %}
    
    {% meta %}
      <title>resm.in</title>
      <meta name="description" content="{% trans 'Story questions with pics.' %}" />
    {% endmeta %}
    {% comment %}{% include "adverts/popmarker.html" %}{% endcomment %}
  </head>
  
  <body>
    {% if messages %}
      {% for message in messages %}
        <p class="yellow-stripe">{{ message }}</p>
      {% endfor %}
    {% endif %}
    
    {% block extra_messages %}
    {% endblock %}
    
    <header>
      <nav class="clearfix wrap">
        <div class="drawer">
          <a href="/" class="{% if request.path == '/' %}active{% endif %}">{% trans "Wall" %}</a>
          <a href="/qs/" class="{% if request.path == '/qs/' %}active{% endif %}">{% trans "Questions" %}</a>
          {% if user.is_authenticated %}
            <a href="/pq/" class="{% if request.path == '/pq/' %}active{% endif %}">{% trans "Pending Questions" %}{% if num_of_pending_questions %} ({{ num_of_pending_questions }}){% endif %}</a>
            <a href="/pfr/" class="{% if request.path == '/pfr/' %}active{% endif %}">{% trans "Follow Requests" %}{% if num_of_pending_follow_requests > 0 %} ({{ num_of_pending_follow_requests }}){% endif %}</a>
            <a href="/pm/" class="{% if request.path == '/pm/inbox/' %}active{% endif %}">{% trans "PM's" %}{% if num_of_unread_messages > 0 %} ({{ num_of_unread_messages }}){% endif %}</a>
            <a href="/n/" class="{% if request.path == '/n/' %}active{% endif %}">{% trans "Notifications" %}{% if num_of_pending_notifications > 0 %} ({{ num_of_pending_notifications}}){% endif %}</a>
          {% endif %}          
          <div class="drawer-right">
            {% if user.is_authenticated %}
              <a href="{{ user.get_absolute_url }}" class="right {% if request.path == user.get_absolute_url %}active{% endif %}">{{ user }}</a>
                {% else %}
                  <a href="{% url 'login' %}" {% if request.path == '/login/' %}class="active right"{% endif %}>{% trans 'Login' %}</a>
                  <a href="{% url 'register' %}" {% if request.path == '/reg/' %}class="active right"{% endif %}>{% trans 'Register' %}</a>
            {% endif %}
          </div>
        </div>
        <a href="#" id="pull">{% trans 'Menu' %}</a>
      </nav>
    </header>
    {% block before_content %}{% endblock %}
    
    <div class="content pbd ptd oa">
      <div class="wrap oa {% block wrap_class %}{% endblock %}">
        {% block content %}{% endblock content %}
      </div>
    </div>
    <footer class="oa tac pbh ptd">
      <div class="wrap mb">
        <a href="https://www.facebook.com/pages/resmin/283100028481671?fref=ts" class="mld mrd" target="_blank">Facebook</a>
        <a href="https://resmin.uservoice.com/forums/219051-general" class="mld mrd" target="_blank">{% trans 'Suggestions' %}</a>
        <a href="http://resm.in/api/v1/story/list/public/" class="mld mrd" target="_blank">Api</a>
        <a href="/hof/" class="mld mrd">{% trans "Top Users" %}</a>
        <a href="" target="_blank" class="mld mrd">{% trans "IRC" %}</a>
      </div>
      <div class="wrap mb">
        <p class="f_weak mb">
          {% trans 'Non of the images & content that appear at this site are real. Site content might not be convenient for kids & minors. Users who create the questions & share the images are responsible and liable from their content. Every content should be conveniently credited. By the way Why do you just copy when you can create something original?' %}
        </p>
      </div>
    </footer>
  {% block extra_foot %}{% endblock %}
  {% include "scripts/google_analytics.html" %}
  {% include "scripts/menu.html" %}
  </body>
</html>
