{% extends "base.html" %}{% load thumbnail i18n %}
{% block extra_head %}
  <style>
  .question {
     height: 270px;
     width: 290px;
     background-position: center center;
     background-repeat: no-repeat;
     margin-bottom: 20px;
     margin-left:5px;
     margin-right: 5px;
     position: relative;
     float: left;
   } 
  .question .inner { position: absolute; top: 100px; left: 0; width: 100%; background: rgba(0, 0, 0, 0.4); text-align: center; font-size: 20px;}
  .question .inner a { color: #fff;}
  .question .inner p { color: #ccc;}
  </style>
{% endblock %}

{% block content %}
  {% for question in questions %}
    <div class="question" style="background-image: url({% thumbnail question.cover_image "290x290" crop="center" as bgimg %}{{ bgimg.url }}{% endthumbnail %})">
      <div class="inner">
        <p>
          <a href="{{ question.get_absolute_url }}">{{ question }}</a>
        </p>
        <p class="f_tiny">{% blocktrans with updated_timesince=question.updated_at|timesince %} Updated at {{ updated_timesince }} ago.{% endblocktrans %}</p>
      </div>
    </div>
  {% endfor %}
{% endblock %}