{% extends "answers_base.html" %}{% load i18n %}

{% block extra_messages %}

  {% if pending_follow_requests > 0 %}
    <p class="yellow-stripe">{{ pending_follow_requests }} kişi müridin olmak istiyor. Bekleyen talep(leri) incelemek için <a href="{% url 'pending-follow-requests' %}">buraya tıkla.</p>
  {% endif %}

  {% if show_email_message %}
    <p class="yellow-stripe">E-posta adresin kayıtlı olmadığı için sorulara ve cevaplara ilişkin bildirimleri alamıyorsun. Ayrıca şifreni unutursan hatırlatma servisini de kullanamayacaksın. Lütfen <a href="{% url 'email_form' %}">buraya tıklayarak</a> e-posta adresini kaydet.</p>
  {% endif %}

  {% if show_fix_answers_message %}
    <p class="yellow-stripe">Görünürlüğü belirsiz cevapların var. Lütfen <a href="{% url 'fix-answers' %}">buraya tıklayarak</a> cevaplarını düzenle.</p>
  {% endif %}

{% endblock %}

{% block subheader %}
  {% if user.is_authenticated %}
  <div class="subnav">
    <div class="f_weak db oa wrap">
      <a class="mrd{% if answers.filter == 'public' %} wb{% endif %}" href="{% url 'index' %}">{% trans "Public Answers" %}</a>
      <a class="mrd{% if answers.filter == 'followings' %} wb{% endif %}" href="{% url 'index-from-followings' %}">{% trans "Answers From Followings" %}</a>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% with answers=answers.paginated_object_list %}
    {% include "question/answer_thumbnails.html" %}
    {% include "includes/pagination_links_for_answers.html" %}
  {% endwith %}
{% endblock %}
