{% load i18n %}
<div id="c{{ comment.id }}" class="comment pb pt bb mb">
  <p><a class="wb" href="{{ comment.owner.get_absolute_url }}">{{ comment.owner }}</a> <a class="fr f_tiny" href="{{ comment.get_absolute_url }}">{{ comment.posted_at }}</a>
  </p>
  <div class="comment-body">{{ comment.as_html|safe }}</div>
  {% if comment.owner == request.user or story.owner == request.user %}
    <ul class="comment-options">
      <li class="fl mr"><a href="#c{{ comment.id }}" onClick="getUpdateCommentForm({{ comment.id }}); return false;" class="f_weak c_weak">{% trans "Update" %}</a></li>
      <li class="fl"><a href="#" onclick="removeComment({{ comment.id }}); return false;" class="f_weak c_weak">{% trans "Delete" %}</a></li>      
    </ul>
  {% endif %}
</div>
