{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="narrow fc">
  {% if form %}
    <div class="panel-right">
      <p class="mb">{% trans 'Adresini bildirim gereken durumlarda sana e-posta atmak için kullanacağız ve kimseye vermeyeceğiz.' %}</p>
    </div>
    <div class="panel-left">
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <input class="fr bttn green ra" type="submit">
      </form>
    </div>
  {% else %}
    {% if key_wrong %}
      <p class="imp f_stng tac pad">Tıkladığın link yanlış ya da tarihi geçmiş. Tekrar denesen iyi olacak :\</p>
    {% else %}
      <p class="imp f_stng tac pad">E-posta adresine bir link gönderdik, ona tıklayarak işlemi tamamlayabilirsin.</p>
    {% endif %}
  {% endif %}
</div>
{% endblock %}