{% extends "base.html" %}

{% block content %}
    <div class="panel-right">
        <h3 class="mb">Bu Nedir?</h2>

        <p class="mbd">"Uzak Anahar" harici uygulamaların gerçek şifreni bilmeden <a href="/">resm.in</a> hesabını sınırlı bir şekilde kullanabilmesini sağlar.</p>

        <h3 clasS="mb">Neye Dikkat Etmeliyim?</h2>
        <p class="mbd">Uzak anahtarına sahip olan bir uygulama <strong>e-posta adresina, şifrene ve özel mesajlarına</strong> ulaşamaz. Ancak yine de senin adına soru sorabilir ya da cevap yollayabilir. Bu yüzden sadece güvendiğin uygulamalara uzak anahtarını vermelisin.</p>

        <h3 clasS="mb">Nasıl Sıfırlarım?</h2>
        <p class="mb">Şimdiye kadar anahtar verdiğin uygulamaların erişimini yok etmek için aşağıdaki butonu kullanabilirsin.<p>

        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="reset" value="reset" />
            <input type="submit" class="bttn green ra tac fl" value="Uzak Anahtarı Sıfırla">
        </form>

    </div>
    
    <div class="panel-left">
        <h2 class="mb">Uzak Anahtarın</h2>
        <div class="ra bg pa f_nrml mb">
            <p class="mb">Kullanıcı Adı:</p>
            <input type="text" "f_stng c_stng wb" value="{{ user.username }}">
            <p class="mb">Uzak Anahtar:</p>
            <input type="text" class="f_stng  c_stng wb" value="{{ remote_key.key }}" />
        </div>
    </div>


{% endblock %}