{% load thumbnail liked_by %}{% load i18n %}
<div class="thmb-wrap shadowed" style="position: relative">
  {% if answer.is_nsfw %}
    <div class="nsfw_block">
      <a href="{{ answer.get_absolute_url }}">AYIPÇI</a>
    </div>
  {% else %}
    {% thumbnail answer.image "220" as thmb %}
      <a class="thmb" style="height: {{ thmb.height }}px; width: {{ thmb.width }}px; background-image: url({{ thmb.url }});" href="{{ answer.get_absolute_url }}">
      </a>
    {% endthumbnail %}
  {% endif %}
  <div class="footer oa db pl pr">
    <div class="username">
      {% if answer.visible_for == 1 %}
        <a href="#" title='{% trans "This question is visible for followers." %}' class="private_answer_indicator"></a>
      {% endif %}
      {% include "auth/username_inc.html" with user=answer.owner anonymouse=answer.is_anonymouse narrow=True %}
    </div>
    {% include "question/like_button_inc.html" %}
  </div>
  {% if show_question_info_below_answers %}
    <div class="oa db pa f_tiny" >
      <a href="{{ answer.question.get_absolute_url }}">{{ answer.question.text }}</a> sorusuna cevap olarak gönderildi.
    </div>
  {% endif %}
</div>
