{% load i18n thumbnail %}

<div class="panel-left">
  <p class="mb wb">{% include "auth/username_inc.html" with user=answer.owner %} › <a href="{{ answer.question.get_absolute_url }}">{{ answer.question}}</a> <span class="fr f_tiny c_weak wn mth"> {{ answer.created_at|date:"E Y" }} {{ answer.get_visible_for_display|lower }} görünür</span></p>
  <div class="bg bb mb" style="border-bottom-width: 3px;">
    {% thumbnail answer.image "900" as img %}
      <img src="{{ img.url }}">
    {% endthumbnail %}
    <div class="db pl pr oa">
      <div class="f_weak fl mth">{% include "auth/username_inc.html" with user=answer.owner anonymouse=answer.is_anonymouse %}</div>
      {% include "question/like_button_inc.html" %}
    </div>
  </div>

  <form id="action_form" method="post" style="display: none;">
    {% csrf_token %}
    <input name="delete" id="delete_submit" type="submit" />
    <input name="set_cover" type="submit" />
  </form>

  <p class="actions">
    {% if answer.owner == user %}
      <span>
        <a class="action" href="{% url 'update-answer' answer.base62_id %}">{% trans "Update" %}</a>
      </span>
      <span>
        <a class="action" id="fake_delete_button" href="#">{% trans 'Delete' %}</a>
        <span id="real_delete_button" style="display: none">({% blocktrans %}If you want to really delete this answer, <a id="real_delete_button" class="nm np f_tiny" href="#">click here</a>.{% endblocktrans %})</span>
      </span>
    {% endif %}
  </p>

</div>

<div class="panel-right">
  {% if answer.description %}
    <p class="wb">{% trans 'Description' %}</p>
    <div>{{ answer.description|linebreaks }}</div>
  {% endif %}

  {% if answer.source_url %}
    <p class="wb">{% trans 'Source URL' %}</p>
    <p><a href="{{ answer.source_url }}">{{ answer.source_url|truncatechars:16 }}</a></p>
  {% endif %}
  {% with likers=answer.get_likers_from_redis %}
    {% if likers %}
      <p class="wb">Kalpleyenler</p>
        {% if answer.owner == user %}
          <p>{% for liker in likers %} {% include "auth/username_inc.html" with user=liker %}, {% endfor %}</p>
        {% else %}
          <p>Kalpleyenler cevap sahibi tarafından görüntülenebilir.</p>
        {% endif %}
    {% endif %}  
  {% endwith %}
</div>
