{% extends "base.html" %}

{% block extra_head %}
  <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>  
{% endblock %}

{% block content %}
<div class="narrow fc mtd mbd">
  <div class="panel-left">
	<h3 class="mbd"><a href="{{ answer_Form.question.get_absolute_url }}">{{ answer_form.question }}</a></h3>
   {% include "question/answer_form_inc.html" %}
  </div>
  <div class="panel-right">
  	<p class="f_weak">Etraftan bulunmuş fotoğraflar ya da ekran görüntüleri yerine kendi çektiğin fotoğraflardan koyarsan seviniriz.</p>
    <p class="f_weak">İstersen Adımı Gizle seçeneğini kullanarak anonim cevap verebilirsin.</p>
    <p class="f_weak">Açıklama kısmını kullanırsan dil kurallarına uyman gerektiğini söylememize gerek yok umuyoruz.</p>
    <p class="f_weak">Kaynak URL kısmına fotoğrafınla ilgili bir URL yazabilirsin. Örneğin köpeğinin fotoğrafını paylaştıysan ondan bahsettiğin blog gönderine link verebilirsin.</p>
  </div>
</div>
{% endblock %}

{% block extra_foot %}
<script>
  var file_el = document.getElementById('id_image');
  $('#file-select-box').click(function() {
    $(file_el).trigger('click');
  });
  $('#id_image').change(function() {
      var filename = $('#id_image').val().split('\\').pop();;
      $('#file-select-box').html(filename);
  });
</script>
{% endblock %}