{% extends "base.html" %}

{% block extra_head %}
  <script src="http://code.jquery.com/jquery-2.0.3.min.js"></script>  
{% endblock %}

{% block content %}
<div class="narrow fc mtd mbd">
  <div class="panel-left">
	<h3 class="mbd"><a href="{{ answer_Form.question.get_absolute_url }}">{{ answer_form.question }}</a></h3>
   {% include "question/answer_form_inc.html" %}
  </div>
  <div class="panel-right">
  	<p>Kural değil, ama paint ile çizilmiş bir şeyler ya da ekran görüntüsü göndermez, fotoğraf çekersen daha güzel olacak sanki.</p>
  </div>
</div>
{% endblock %}

{% block extra_foot %}
<script>
  var file_el = document.getElementById('id_image');
  $('#file-select-box').click(function() {
    $(file_el).trigger('click');
  });
  $('#id_image').change(function() {
      var filename = $('#id_image').val().split('\\').pop();;
      $('#file-select-box').html(filename);
  });
</script>
{% endblock %}