{% extends "admin/base_site.html" %}
{% load i18n admin_urls admin_static admin_modify %}

{% block extrastyle %}<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a>
&rsaquo; {% if has_change_permission %}<a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>{% else %}{{ opts.verbose_name_plural|capfirst }}{% endif %}
&rsaquo; {% trans 'Merge' %} '{{ original|truncatewords:"18" }}'
</div>
{% endblock %}
 
{% block content %}
<div id="content-main">
  <form action="{{ form_url }}" method="post">
    <div>
      <fieldset class="module aligned">
        {% csrf_token %}

        <div class="form-row field-text">
          {{ form.merge_source.errors }}
          {{ form.merge_source.label_tag }} {{ form.merge_source }}
          <div class="source_text"></div>
        </div>

        <div class="form-row field-text">
          {{ form.merge_target.errors }}
          {{ form.merge_target.label_tag }} {{ form.merge_target }}
          <div class="target_text"></div>
        </div>

      </fieldset>
      <div class="submit-row">
        <input value="{% trans 'Merge' %}" class="default" type="submit">
      </div>
    </div>
  </form>
</div>
{% endblock %}
