{% extends "base.html" %}{% load i18n %}
{% block content %}
<ul>
{% for answer_request in answer_requests %}
  <li>
    <p>
      {% if answer_request.is_anonymouse %}
        {% blocktrans with question_text=answer_request.question.text question_url=answer_request.question.get_absolute_url %}
          Anonymouse user wants you to answer "<a href="{{ question_url }}">{{ question_text }}</a>"
        {% endblocktrans %}
      {% else %}
        {% blocktrans with questioner_username=answer_request.questioner.username questioner_url=answer_request.questioner.get_absolute_url question_text=answer_request.question.text question_url=answer_request.question.get_absolute_url %}
          <a href="{{ questioner_url }}">{{ questioner_username }}</a> wants you to answer <a href="{{ question_url }}">{{ question_text }}</a>
        {% endblocktrans %}
      {% endif %}
    </p>
    <p>
      <a href="{% url 'create-answer' question_base62_id=answer_request.question.base62_id %}?rid={{ answer_request.id }}">Answer</a>
    </p>
  </li>
{% empty %}
  </ul>
  <div class="narrow fc bg ra pa">
    <p class="f_stng">{% trans "There are no pending answer requests." %}</p>
    <p>{% trans "Share your resm.in profile on your social media accounts to get more answer requests." %}</p>
    <p><span class="imp">{{ site.domain }}{{ user.get_absolute_url }}</span></p>
  </div>
{% endfor %}
</ul>
{% endblock content %}