{% extends "base.html" %}{% load i18n %}

{% block content %}
<div class="narrow fc bg ra pa">
  {% if pending_questions %}
  <ul class="nostyle">
    {% for question in pending_questions %}
      <li class="bb pad">
        <p>
          <span class="wb">{{ question.meta.text }}</span>
          <span class="f_weak">{% include 'auth/username_inc.html' with user=question.questionee anonymouse=question.is_anonymouse %} {{ question.created_at|timesince }} {% trans 'ago' %} {% trans 'ago' %}.</span>
        </p>
        <p class="nm f_weak">
          <a href="{{ question.post_answer_url }}">{% trans 'Answer' %}</a> / <a href="">{% trans 'Reject' %}</a>
        </p>
      </li>
    {% endfor %}
  </ul>    
  {% else %}
    <p class="f_stng">{% trans "There are no pending answer requests." %}</p>
    <p>{% trans "Share your resm.in profile on your social media accounts to get more answer requests." %}</p>
    <p><span class="imp">{{ site.domain }}{{ user.get_absolute_url }}</span></p>
  {% endif %}
</div>
{% endblock content %}
