{% extends "base.html" %}{% load i18n %}

{% block content %}
<ul>
{% for question in pending_questions %}
  <li>
    <p>
      <span class="wb">{{ question.meta.text }}</span>
      <span class="f_weak">{% include 'auth/username_inc.html' with user=question.questionee anonymouse=question.is_anonymouse %} {{ question.created_at }}</span>
    </p>
    <p class="f_weak">
      <a href="{{ question.post_answer_url }}">Yanıtla</a> / <a href="">Reddet</a>
    </p>
  </li>
{% empty %}
  </ul>
  
  <div class="narrow fc bg ra pa">
    <p class="f_stng">{% trans "There are no pending answer requests." %}</p>
    <p>{% trans "Share your resm.in profile on your social media accounts to get more answer requests." %}</p>
    <p><span class="imp">{{ site.domain }}{{ user.get_absolute_url }}</span></p>
  </div>
{% endfor %}
</ul>
{% endblock content %}

        {% if question.is_anonymouse %}
          {% blocktrans with question_text=question.meta.text %}Anonymouse user wants you to answer: <a href="{{ post_answer_url }}">{{ question_text }}</a>{% endblocktrans %}
        {% else %}
          {% blocktrans with questioner_username=question.questioner.username questioner_url=question.questioner.get_absolute_url question_text=question.question.text question_url=question.question.get_absolute_url %}<a href="{{ questioner_url }}">{{ questioner_username }}</a> wants you to answer <a href="{{ post_answer_url }}">{{ question_text }}</a>{% endblocktrans %}
        {% endif %}