{% load i18n %}
<div data-question-id="{{ question.id }}" class="q_s">
  <p class="nm tac">
    <a class="{% if question.merged_to or question.is_deleted %}lt{% endif %}" href="{% if question.merged_to %}{{ question.merged_to.get_absolute_url }}{% else %}{{ question.get_absolute_url }}{% endif %}">{{ question.text }}</a>
  </p>
  <p class="f_weak tac">
    <span class="f_tiny c_weak wn">{% if question.is_anonymouse == False %}{% if question.is_deleted == False %} {% trans "asked by" %} {% include "auth/username_inc.html" with user=question.owner %},{% endif %}{% endif %} {% blocktrans with s_count=question.answer_count f_count=question.follower_count %}{{ s_count }} answers / {{ f_count }} followers{% endblocktrans %}.</span>
  </p>
  <span class="f_tiny c_weak wn">
    {% if user.is_authenticated %}
      {% url 'create-story' question.base62_id as create_answer_url %}
        {% blocktrans %}<a class="imp" href="{{ create_answer_url }}">Click here</a> to post an answer.{% endblocktrans %}
    {% else %}
      {% url 'login' as login_url %}
        {% blocktrans %}<a class="imp" href="{{ login_url }}">Login</a> to post an answer.{% endblocktrans %}
    {% endif %}
  </span>

  {% if question.merged_to %}
    <p class="f_weak c_weak mb wn">
      Bu soru "<a href="{{ question.merged_to.get_absolute_url }}">{{ question.merged_to }}</a>" sorusuna birleştirildi.
    </p>
  {% endif %}

  {% if question.is_deleted %}
    <p class="f_weak c_weak mb">
      Bu soru silinmiş, soru olarak listelenmez yeni cevap gönderilemez.
    </p>
  {% endif %}

  <p class="mtd actions">
      {% if is_following %}
         <a class="follow_action" data-action='unfollow' href="#">{% trans 'Unfollow' context "follow" %}</a>
      {% else %}
         <a class="follow_action" data-action='follow' href="#">{% trans 'Follow' context "follow" %}</a>
      {% endif %}
  </p>
</div>


