{% extends "base.html" %}{% load i18n %}
{% block content %}
<div class="wrap narrow pa ra oa db bg-darker mb"></div>

<div class="narrow wrap pa ptd bg ra">
  <ul>
    {% for qm in qms %}
      {% include "question/question_meta_list_item.html" %}
    {% endfor %}

    {% for item, similarity in results %}
      <li><p class="nm"><a href="{{ item.url }}">{{ item.text }}</a> <a class="f_tiny imp pink" href="{% url 'create-story' item.base62_id %}">{% trans 'Answer' %}</a></p>
      <p class="f_weak">{% blocktrans with ac=item.answer_count %}{{ ac }} answers.{% endblocktrans %}</p></li>
    {% endfor %}
</div>
{% endblock %}
