{% load i18n %}
<div data-question-id="{{ question.id }}" class="q_s">
  <p class="mb tac f_stng">
    <a href="{{ question.get_absolute_url }}">{{ question.text }}</a>
  </p>
  <p class="f_weak tac wn">
    <span style="color: #ccc;" class="f_tiny wn">{% blocktrans with s_count=question.answer_count f_count=question.follower_count %}{{ s_count }} answers / {{ f_count }} followers{% endblocktrans %}</span>
  </p>
  <p class="f_tiny c_weak wn tac">
    {% if user.is_authenticated %}
      {% url 'create-story' question.base62_id as create_answer_url %}
        <a href="{{ create_answer_url }}">{% trans 'Answer' %}</a> / {% if is_following %}<a class="follow_action" data-action='unfollow' href="#">{% trans 'Unfollow' context "follow" %}</a>{% else %}<a class="follow_action" data-action='follow' href="#">{% trans 'Follow' context "follow" %}</a>
      {% endif %}
    {% else %}
      {% url 'login' as login_url %}
      {% blocktrans %}<a class="imp" href="{{ login_url }}">Login</a> to post an answer.{% endblocktrans %}
    {% endif %}
  </p>

  {% if question.merged_to %}
    <p class="f_weak c_weak mb wn">
      Bu soru "<a href="{{ question.merged_to.get_absolute_url }}">{{ question.merged_to }}</a>" sorusuna birleştirildi.
    </p>
  {% endif %}

  {% if question.is_deleted %}
    <p class="f_weak c_weak mb">
      Bu soru silinmiş, soru olarak listelenmez yeni cevap gönderilemez.
    </p>
  {% endif %}

  <p class="mtd actions">

  </p>
</div>


