{% extends "base.html" %}{% load i18n widget_tweaks %}

{% block extra_head %}
  <script src="{{ STATIC_URL }}js/list.min.js"></script>
  <script src="{{ STATIC_URL }}js/list.fuzzysearch.min.js"></script>
{% endblock %}

{% block content %}
  <div id="questions" class="narrow wrap pa ptd bg ra">
      <p class="c_weak f_weak mbd">
      {% render_field search_form.q class="search" %}
      {% if tag %}
        {% blocktrans with tag=tag.name %}Listing questions tagged with: #{{ tag }} {% endblocktrans %}
      {% endif %}
      </p>
    <ul class="nostyle list">
      {% for qm in qms %}
        {% include "question/question_meta_list_item.html" %}
      {% endfor %}
    </ul>
  </div>
  <script>
    var options = {
      valueNames: ['question_text'],
      plugins: [ ListFuzzySearch() ] 
    };
    var questionList = new List('questions', options);
  </script>
{% endblock %}
