{% extends "answers_base.html" %}{% load i18n %}

{% block before_content %}
  {% include "question/question_sentence.html" %}

  {% if request_answer_form %}
  <form class="oa mb wrap narrow bg-dark pa c_nrml" style="display: none;"method="post" action="#">
    {% csrf_token %}
    <p class="f_nrml">{{ request_answer_form.questionees.label }} <span class="f_tiny wn">({{ request_answer_form.questionees.help_text }})</span></p>
    {{ request_answer_form.questionees }}
    <p>{{ request_answer_form.is_anonymouse.label }} {{ request_answer_form.is_anonymouse }}</p>
    <input type="submit" class="bttn ra pa green fr" /></form>
  {% endif %}
{% endblock %}

{% block content %}
  {% include "story/story_thumbnails.html" %}
  {% include "includes/pagination_links_for_stories.html" %}
  <script>
  $(".follow_action").click(function(ev) {
    var q_el = $(ev.target).parent().parent();
    var a_el = $(this);
    $.ajax({
      type: "POST",
      url: "/fq/",
      data: {
        "qid" : q_el.attr('data-question-id'),
        "a"   : a_el.attr('data-action')
      },
      dataType: "json",
      success: function(data) {
        if (data.is_following === true) {
            a_el.html('Takipten Çık');
            a_el.attr('data-action', 'unfollow')
        } else {
            a_el.html('Takip Et');
            a_el.attr('data-action', 'follow')
        }
      },
      statusCode: {
        401: function() {
          alert("Yu hev tu login tu kompiliyt dis ekşın.");
        }
      }
    });
  });
  </script>
{% endblock %}
