{% extends "auth/dashboard_base.html" %}{% load i18n %}

{% comment %}
  TODO:
  This template and followings template is so similar and has copy pastes around that files. Must be cleaned up in future.
{% endcomment %}

{% block page_title %}{% trans 'Followers' %}{% endblock %}

{% block content_inner %}
  <form method="post" style="display: none;">{% csrf_token %}{{ action_form }}<input type="submit"></form>
  {% if request.user == profile_user %}
    <ul class="nostyle">
      {% for follow in user_follows %}
        <li class="mb pb bb" class="follower">
          <div class="info f_stng">{% include "auth/username_inc.html" with user=follow.follower %}<span class="f_tiny mlh">{% if follow.status == 3 %}({% trans 'Restricted Follower' %}){% endif %} {% if follow.follower.userprofile.bio %} {{ follow.follower.userprofile.bio }}{% endif %}</span></div>
          <div class="f_weak actions" data-follow='{{ follow.id }}'>
            <a class="action" title="{% trans 'Make him/her unfollow you.' %}" data-action="make-unfollow" href="#">{% trans "Discard from Followers" %}</a>
          </div>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <ul class="nostyle">
      {% for follow in user_follows %}
        <li class="mb pb bb" class="follower" id="{{ follow.follower.username }}">
          <div class="info f_stng">{% include "auth/username_inc.html" with user=follow.follower %}<span class="f_tiny mlh">{% if follow.follower.userprofile.bio %} {{ follow.follower.userprofile.bio }}{% endif %}</span></div>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  <p class="mtd">
    {% if user_follows.has_previous %}
      <a class="fl f_stng wb imp" href="?page={{ user_follows.previous_page_number }}">{% trans "Previous Users" %}</a>
    {% endif %}
    {% if user_follows.has_next %}
      <a class="fr f_stng wb imp" href="?page={{ user_follows.next_page_number }}">{% trans "Next Users" %}</a>
    {% endif %}
  </p>
  <script>
    $(".action").click(function() { 
      $('#id_action').val($(this).attr('data-action'));
      $('#id_follow').val($(this).parent().attr('data-follow'))
      $('form').submit()
    })
  </script>
{% endblock %}
