{% extends "auth/dashboard_base.html" %}{% load i18n %}
{% block page_title %}{% trans 'Davetiyeler' %}{% endblock %}

{% block content_inner %}
  {% if invs %}
    <h2 class="f_stng  mb">{% trans 'Congrats :) You have invitations.' %}</h2>
    <p class="  mbd">
    {% trans 'Siteye yeni birilerini getirmek için yapman gereken şey: gelmesini istediğin kişiye kutucuklardaki linklerden birini vermek. Aktif olacağını, güzel paylaşımlarda bulunacağını düşündüğün kişileri çağırırmalısın. Uzaktan izleyenleri sevmiyoruz. :)' %}</p>
    {% for i in invs %}
      <p><input style="width: 330px" value="http://{{ site }}{{ i.get_absolute_url }}"> {% if i.used_by %}{% include "auth/username_inc.html" with user=i.used_by %} kullanmış.{% endif %}</p>
    {% endfor %}
  {% else %}
    <p class="f_stng c_ntml">{% trans "You don't have any invitations :(" %}</p>
  {% endif %}
{% endblock %}