{% extends "base.html" %}
{% block content %}
{% if validlink %}
  <div class="panel-right">
    <p class=" ">Yeni şifreni belirlemek için iki defa gir.</p>
  </div>
  
  <div class="panel-left">
    <form method="post">
      {% csrf_token %}
      {{ form }}
      <input class="fr bttn green ra" type="submit">
    </form>
  </div>
{% else %}
  <p>Tıkladığın link geçerli değil, gezegenler arası bir kayma gerçekleşmiş olmalı. Sen en iyisi yeniden şifre sıfırlama talebi gönder.</p>
{% endif %}
{% endblock %}
