{% extends "base.html" %}{% load i18n %}

{% block extra_head %}
  <script src="{{ STATIC_URL }}js/jquery-2.0.3.min.js"></script>
  <script src="{{ STATIC_URL }}js/csrf_token.js"></script>
{% endblock %}

{% block content %}
<div class="narrow fc bg ra pad">
  <ul class="nostyle">
  {% for follow_request in pending_follow_requests %}
    <li class="bb pad" data-frpk="{{ follow_request.pk }}">
      <p>{% blocktrans with username=follow_request.follower.username url=follow_request.follower.get_absolute_url %}<a href="{{ url }}">{{ username }}</a> wants to be your follower.{% endblocktrans %}</p>
      <p><a class="action" data-action='accept' href="#">{% trans 'Accept' %}</a> / <a title="{% trans 'This user will be your follower but will only see your public posts.' %}" class="action" data-action='accept-restricted' href="#">{% trans 'Add to Restricted' %}</a> / <a class="action" data-action='decline' href="#">{% trans 'Decline' %}</a></p>
    </li>
  </ul>
  {% empty %}
    <div class="pad">
      <p class="f_stng mbd">{% trans "There are no pending follow requests." %}</p>
      <p>{% trans "Share your resm.in profile on your social media accounts to get more followers." %}</p>
      <p><span class="imp">{{ site.domain }}{{ user.get_absolute_url }}</span></p>
    </div>
  {% endfor %}
</div>
<script>
$(document).ready(function() {
  $('.action').click(function(ev){
    var target = $(ev.target);
    var frpk = target.parent().parent().attr('data-frpk');
    var action = target.attr('data-action');
    $.ajax({
      method: "post",
      url: "/pfra/",
      data: {'pk': frpk, 'action': action}
    })
    .done(function(data) {
      target.parent().parent().slideUp('slow');
    });
  })
});
</script>
{% endblock content %}
