{% extends "auth/dashboard_base.html" %}{% load i18n %}

{% block page_title %}{% trans "Update Profile" %}{% endblock %}

{% block wrap_class %}narrow{% endblock %}

{% block content_inner %}
  {% if avatar_questionmeta %}
  	<p class="mb imp">Avatarını "<a href="{{ avatar_question.get_absolute_url }}">{{ avatar_question }}</a>" sorusuna cevap vererek değiştirebilirsin. Son gönderdiğin cevap avatarın olarak kabul edilir.</p>
  {% endif %}
  <form class="mtd" method="post" enctype="multipart/form-data">
	  {% csrf_token %}
	  {{ form }}
	  <input type="submit" class="fr bttn green ra">
  </form>
{% endblock %}