{% extends "answers_base.html" %}{% load i18n %}


{% block before_content %}
  {% include "auth/user_detail_inc.html" %}
{% endblock %}

{% block content %}
  <form class="narrow wrap mbd pa" method="post">
    {% csrf_token %}
    {{ question_form }}
    <input class="bttn fr green ra" type="submit">
  </form>
  {% with answers=answers.paginated_object_list %}
    {% include "story/story_thumbnails.html" with show_question_info_below_answers=True %}
    {% include "includes/pagination_links_for_stories.html" %}
  {% endwith %}
{% endblock content %}