{% load thumbnail i18n %}
{% with profile=profile_user.userprofile %}
<div class="whitebox">
  <div class="bg pa narrow" style="margin: 0 auto;">
    <div class="mb oa pt" style="position: relative;">
      <ul class="fr pa" >
      	<li>{{ profile.like_count }} {% trans "Like" %}</li>
        <li>{{ profile.story_count }} {% trans "Story" %}</li>
        <li>
          <a href="{% url 'followers' profile_user.username %}">{{ profile.follower_count }} {% trans "Follower" %}</a>
        </li>
        <li>
          <a href="{% url 'followings' profile_user.username %}">{{ profile.following_count }} {% trans "Following" %}</a>
        </li>
      </ul>
      {% if profile.avatar %}
        {% thumbnail profile.avatar "100x100" crop="center" as im %}
          <img class="fl mr" src="{{ im.url }}" style="position: absolute">
        {% endthumbnail %}
      {% else %}
        <img class="fl mr" src="{{ STATIC_URL}}img/no-avatar.gif" style="position: absolute; width: 100px; height: 100px;">
      {% endif %}
      <p class="mb f_weak" style="margin-left: 110px;">
        <a class="username f_stng wb" href="/u/{{profile_user.username}}">{{ profile_user }}</a>
      </p>
      {% if profile.bio %}<p style="margin-left: 110px;">{{ profile.bio }}</p>{% endif %}
      {% if profile.website %}<p style="margin-left: 110px;" class="f_weak"><a href="{{ profile.website }}">{{ profile.website }}</a></p>{% endif %}
      </ul>
    </div>
    {% if follow_form %}
      <form method="post" enctype="multipart/form-data" class="imp pa ra ba">
        {% if action == 'block' %}
          <p>{% trans "Blocking this user means that you wouldn't dispose any of your questions or answers while you wouldn't be to see any question or answer. Is this cool?" %}</p>
        {% endif %}
        {% if action == 'unblock' %}
          <p>{% trans "As you unblock you'd be able to see questions & answers by this user who would also be able to access your contributions. Am I magnificient?" %}</p>
        {% endif %}
        {% if action == 'follow' %}
          <p>{% trans "You want to be a disciple of this user. You're nuts..." %}</p>
        {% endif %}
        {% if action == 'unfollow' %}
          <p>{% trans "Me don't want no more contact with this user. Ummmm are you bored?" %}</p>
        {% endif %}
        {% csrf_token %}
        {{ follow_form }}
        <input class="fr bttn red ra" type="submit" value="Evet">
      </form>
    {% else %}
      {% if user.is_authenticated %}
        <p class="oa nm">
        {% if user == profile_user %}
          <a class="f_weak mr" href="{% url 'update_profile' %}">{% trans "Update Profile" %}</a>
          <a class="f_weak mr" href="{% url 'update_notification_preferences' %}">{% trans "Update Notification Preferences" %}</a>
  	      <a class="f_weak mr" href="{% url 'email_form' %}">{% trans "Update Email" %}</a>
          <a class="f_weak mr" href="/i/" >{% trans "Invitations" %}</a>
          <a class="f_weak mr" href="{% url 'logout' %}">{% trans "Log Out" %}</a>
        {% else %}
          {% if user.is_authenticated %}
            {% if user_is_blocked_by_me %}
              <a class="f_weak pr mr" href="/u/{{ profile_user.username }}/unblock/">{% trans "Unblock" %}</a>
            {% else %}
              <a class="f_weak pr mr" href="/pm/compose/{{ profile_user.username }}/">{% trans "Send PM" %}</a> 
              {% if i_am_follower_of_user %}
                <a class="f_weak pr mr" href="/u/{{ profile_user.username }}/unfollow/">{% trans "Unfollow" %}</a>
              {% else %}
              	{% if have_pending_follow_request %}
              	  <span class="f_weak pr mr">{% trans "Your follow request sent" %}</span>
              	{% else %}
                  <a class="f_weak pr mr" href="/u/{{ profile_user.username }}/follow/">{% trans "Follow" %}</a>
                {% endif %}
              {% endif %}
             <a class="f_weak" href="/u/{{ profile_user.username }}/block/">{% trans "Block" %}</a>
            {% endif %}
          {% endif %}
        {% endif %}
      </p>
      {% endif %}
    {% endif %}
  </div>
</div>
{% endwith %}
