{% extends "answers_base.html" %}{% load i18n %}

{% block subheader %}
  {% if profile_user == user %}
  <div class="subnav">
    <div class="f_weak db oa wrap">
      <a class="mrd{% if answers.filter == 'public' %} wb{% endif %}" href="{% url 'profile' user %}">{% trans "My Answers To Public" %}</a>
      <a class="mrd{% if answers.filter == 'to_followings' %} wb{% endif %}" href="{% url 'my-answers-to-followers' user %}">{% trans "My Answers To Followers" %}</a>
    </div>
  </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% with answers=answers.paginated_object_list %}
    {% include "auth/user_detail_inc.html" %}
    {% include "question/answer_thumbnails.html" with show_question_info_below_answers=True %}
    {% include "includes/pagination_links_for_answers.html" %}
  {% endwith %}
{% endblock content %}